body {
    line-height: 1;
}

.board {
    max-width: 100%;
    background-color: #006900;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    display: flex;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 3px;
}

.wind {
    display: flex;
}

.win,
.win-name {
    background-color: #bfbf01;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.win-name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.win-sub {
    background-color: #d2d200;
    margin: 10px;
    border-radius: 5px;
}

.point-sub {
    font-size: 30px;
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    border-bottom-style: groove;
    border-bottom-width: thin;
    background: linear-gradient(35deg, red, #009c00);
}

form {
    margin-block-end: 0em;
}

.tiebreak {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 5px;
}

.tiebreak-text {
    writing-mode: vertical-lr;
    transform: scale(-1);
}

@media (max-width: 1000px) {
    .board {
        font-size: 20px;
    }

    .point-sub {
        font-size: 20px;
    }

    .win-name {
        width: 150px;
    }
}

@media (max-width: 750px) {

    .point-sub {
        padding: 10px 20px;
    }

    .board {
        flex-direction: column;
        padding: 5px;
    }

    .column div:nth-child(2):not(.win) {
        order: -1;
    }

    .column {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .winds {
        display: flex;
        flex-direction: row;
    }

    .wind {
        flex-direction: column;
    }

    .win {
        margin: 3px 5px;
    }

    .win-name {
        width: 100px;
        margin: 5px 3px;
    }

    .players {
        display: none;
    }

    .points{
        display: none;
    }

    .main {
        background: url("oblaka.jpg");
        height: 200%;
    }

    .tiebreak-text {
        writing-mode: horizontal-tb;
        transform: scale(1);
    }
}


