body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: white;
}

.header,
.footer{
    background-color: #006900;
}

.header-text{
    font-size: 80px;
}

.container{
    margin: 0 auto;
    padding: 15px;
    max-width: 800px;
    color: white;
}

.main{
    background: url("oblaka.jpg");
    min-height: 100vh;
    color: white;
}

.container-main{
    margin: 0 auto;
    padding: 15px;
    max-width: 800px;
    color: white;
}

.nav-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.footer{
    height: 15%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-right{
    text-align: right;
}

.logo-img{
    width: 50%;
}

.headline-btn{
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 15px;
    border-bottom-style: groove;
    border-bottom-width: thin;
    background: linear-gradient(35deg, red, #009c00);
}

@media (max-width: 700px) {
    .header-text{
        font-size: 60px;
    }

    .main{
        background: url("oblaka.jpg");
        height: 120%;
    }
    .logo-img{
        width: 70%;
    }
}

@media(max-width: 560px){

    .header-text{
        font-size: 40px;
        margin: 0px;
    }

    .logo-img{
        width: 60%;
    }

    .nav{
        font-size: 30px;
    }
}

@media(max-width: 360px){
    .logo-img{
        width: 60%;
    }

    .nav{
        font-size: 20px;
    }
}